<!DOCTYPE html>
<html lang="en" ng-app="tripSorter">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jQuery -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/libs/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="assets/libs/angular/angular.min.js"></script>
    <!-- assets -->
    <link href="assets/css/index.css" rel="stylesheet"/>
    <script src="assets/js/min-priority-queue.js"></script>
    <!--<script src="response-json-wrapper.js"></script>-->
    <script src="response-json-wrapper-corrected.js"></script>
    <!--<script src="response-json-wrapper-example.js"></script>-->
    <script src="assets/js/shortest-path-finder.js"></script>
    <!--<script src="api-response.js"></script>-->
    <!-- project -->
    <script src="app/app.js"></script>
</head>
<body>
    <div ng-controller="mainController" style="margin: 0 auto;width:85%">

        <div id="formContainer">
            <div class = "panel panel-primary componentContainer">
                <div class="panel-heading">
                    <h3 class="panel-title" style="padding:0">TripSorter</h3>
                </div>

                <div class="panel-body">
                    <!--<div id="classNameContainer" class="form-group {{classComponentError ? 'has-warning' : ''" style="width:50%; float:left">-->
                        <!--<div id="new_classNameLabelContainer"><label class="control-label" for="new_className">Name</label></div>-->
                        <!--<input id="new_className" type="text" ng-model="className" class="form-control" style="width:75%" placeholder="Enter class name"/>-->
                        <!--<label ng-show="false" class="control-label" for="new_className"><i>Please enter class name</i></label>-->
                    <!--</div>-->

                    <div id="fromCityContainer" style="width:30%; float:left">
                        <div id="fromCityLabelContainer"><label class="control-label" for="fromCity">From</label></div>
                        <select ng-model="fromCity" id="fromCity" class="form-control" style="width:90%">
                            <option ng-repeat="city in cities">{{city}}</option>
                        </select>
                    </div>

                    <div id="toCityContainer" style="width:30%; float:left">
                        <div id="toCityLabelContainer"><label class="control-label" for="toCity">To</label></div>
                        <select ng-model="toCity" id="toCity" class="form-control" style="width:90%">
                            <option ng-repeat="city in cities">{{city}}</option>
                        </select>
                    </div>

                    <!--<div id="sortingTypesContainer" style="width:20%; float:left">
                        <div class="btn-group" role="group" aria-label="...">
                            <button ng-repeat="sortingType in SORTING_TYPES" style="width:90%" type="button" class="btn btn-default">{{sortingType}}</button>
                        </div>
                    </div>-->

                    <div id="sortingTypesContainer" class="list-group" style="width:17%; float:left">
                        <button ng-repeat="s in SORTING_TYPES" ng-click="changeSortingType(s)" type="button" ng-class="{ 'active' : sortingType == s }" class="list-group-item" style="text-align:center">{{s}}</button>
                    </div>

                    <div id="searchButtonContainer" style="width:20%; float:left; margin-left:3%">
                        <div id="spaceFiller">&nbsp;</div>
                        <button ng-click="submitForm()" class="btn btn-success" style="width:100%; text-align:center"><span class="glyphicon glyphicon-search" style="width:20%"></span><span style="width:80%">Search</span></button>
                    </div>

                </div>

                <div class="panel-footer" style="background:white">
                    <div class="list-group" style="padding-top:5%">
                        <div class="list-group-item" ng-repeat="trip in trips" ng-class-odd="'oddListGroupItem'">
                            <h4 class="list-group-item-heading">{{trip.departure}} <span class="glyphicon glyphicon-chevron-right"></span> {{trip.arrival}} <span style="float:right"><b>{{trip.cost * (1 - (trip.discount *.01))}}&#8364;</b></span></h4>
                            <div class="list-group-item-text">
                                <span><b>{{trip.transport}}</b> <i>{{trip.reference}}</i> for {{trip.duration.h}}h{{trip.duration.m}}</span>
                                <span ng-show="trip.discount != 0" style="float:right"><s style="color:lightcoral">{{trip.cost}}&#8364;</s> <span style="color:limegreen">{{trip.discount}}% off</span></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</body>
</html>