#formContainer {
    padding: 4.25%;
    width: 650px;
    margin: 0 auto;
    /*float: left;*/
}

.componentContainer {
    padding:2%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:4%;
    -moz-box-shadow: 0 0 5px #5bc0de;
    -webkit-box-shadow: 0 0 5px #5bc0de;
    box-shadow: 0 0 5px #5bc0de;
}

.oddListGroupItem {
    background-color: #daf0f8;
}